# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
env/
.vscode/

# Environment Variables
NFLDraftSimulator/.env
.env.local

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Do not ignore .gitkeep
!.gitkeep